<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://www.hs-anhalt.de/projekte/projekt/coral-fundierte-sprachmodelle-auf-der-grundlage-proprietaerer-daten-prof-dr-christian-haenig.html" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/no-portrait.png' | relative_url }}" alt="Serhii Hamotskyi"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Serhii Hamotskyi</div>
                <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">Hochschule Anhalt</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" src="{{ '/img/organizations/logo-hsa.svg' | relative_url }}"
                 alt="Hochschule Anhalt logo">
            </div>
        </a>
    </div>
</div>
