<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://www.dnb.de" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/leinen.png' | relative_url }}" alt="Peter Leinen"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Peter Leinen</div>
                <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">Deutsche Nationalbibliothek</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" src="{{ '/img/organizations/logo-dnb.svg' | relative_url }}"
                 alt="Deutsche Nationalbibliothek logo">
            </div>
        </a>
    </div>
</div>
