<h3 class="uk-margin-remove-top"><strong>Institut für Angewandte Informatik (InfAI)&nbsp;e. V.</strong></h3>
<p>Goerdelerring 9<br>04109 Leipzig</p>
<p>Phone: +49 341 229037 0<br>Fax: +49 341 229037 99<br>Email:&nbsp;<a href="mailto:info@infai.org">info@infai.org</a></p>
<p>Authorized Board of Directors:<br>Prof. Dr. Bogdan Franczyk (First Chairperson)<br>Prof. Dr. Erhard Rahm (Second Chairperson)<br>Prof. Dr. André Ludwig<br>Prof. Dr. Roland Fassauer</p>
<p>Associate Board Member:<br>Prof. Dr. Sören Auer<br>Prof. Dr. Gerhard Heyer<br>Prof. Dr. Gerik Scheuermann</p>
<p>Management:<br>Ingolf Römer, Andreas Heinecke, Prof. Dr. Roland Fassauer</p>
<p>Company Registration:<br>Registration Court: Amtsgericht Leipzig<br>Registration Number: VR 4342</p>
<p>VAT ID:<br>VAT Identification Number according to Para. 27a of the German Value Added Tax Act:<br>DE274344504</p>

<h3>Notice in Accordance with the Online Dispute Resolution Regulation</h3>
<p>Under applicable law, we are required to inform consumers about the existence of the European Online Dispute Resolution platform, which can be used to resolve disputes without involving a court. The European Commission is responsible for setting up this platform. The European Online Dispute Resolution platform can be found here:&nbsp;<a href="http://ec.europa.eu/odr">http://ec.europa.eu/odr</a>. Our email address is:&nbsp;<a href="mailto:info@infai.org">info@infai.org</a></p>

<h3>Notice in Accordance with the German Consumer Dispute Resolution Act (VSBG)</h3>
<p>We are neither willing nor obligated to participate in dispute resolution proceedings before a consumer arbitration board.</p>

