<h3 class="uk-margin-remove-top"><strong>Institut für Angewandte Informatik (InfAI)&nbsp;e. V.</strong></h3>
<p>Goerdelerring 9<br>04109 Leipzig</p>
<p>Telefon: +49 341 229037 0<br>Telefax: +49 341 229037 99<br>E-Mail:&nbsp;<a href="mailto:info@infai.org">info@infai.org</a></p>
<p>Vertretungsberechtigter Vorstand:<br>Prof. Dr. Bogdan Franczyk (1. Vorsitzender)<br>Prof. Dr. Erhard Rahm (2. Vorsitzender)<br>Prof. Dr. André Ludwig<br>Prof. Dr. Roland Fassauer</p>
<p>Vorstandsbeisitzer:<br>Prof. Dr. Sören Auer<br>Prof. Dr. Gerhard Heyer<br>Prof. Dr. Gerik Scheuermann</p>
<p>Geschäftsführung:<br>Ingolf Römer, Andreas Heinecke, Prof. Dr. Roland Fassauer</p>
<p>Registereintrag:<br>Registergericht: Amtsgericht Leipzig<br>Registernummer: VR 4342</p>
<p>Umsatzsteuer-ID:<br>Umsatzsteuer-Identifikationsnummer nach §27a Umsatzsteuergesetz:<br>DE274344504</p>

<h3>Hinweis gemäß Online-Streitbeilegungs-Verordnung</h3>
<p>Nach geltendem Recht sind wir verpflichtet, Verbraucher auf die Existenz der Europäischen Online-Streitbeilegungs-Plattform hinzuweisen, die für die Beilegung von Streitigkeiten genutzt werden kann, ohne dass ein Gericht eingeschaltet werden muss. Für die Einrichtung der Plattform ist die Europäische Kommission zuständig. Die Europäische Online-Streitbeilegungs-Plattform ist hier zu finden:&nbsp;<a href="http://ec.europa.eu/odr">http://ec.europa.eu/odr</a>. Unsere E-Mail lautet:&nbsp;<a href="mailto:info@infai.org">info@infai.org</a></p>

<h3>Hinweis gemäß Verbraucherstreitbeilegungsgesetz (VSBG)</h3>
<p>Wir sind nicht bereit und verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
<h3>Verantwortlicher für journalistisch-redaktionelle Inhalte gem. § 55 II RstV:</h3>
<p>Tower PR<br>Heiner Schaumann<br>Mälzerstraße 3<br>07745 Jena<br>Tel: +49 (0) 3641 – 8761180<br>Fax: +49 (0) 3641 – 8761188<br><a href="mailto:info@tower-pr.com">info@tower-pr.com</a><br><a href="https://tower-pr.com/impressum/www.tower-pr.com">www.tower-pr.com</a></p>