<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://infai.org/natural-language-processing/" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/no-portrait.png' | relative_url }}" alt="Frank Binder"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Frank Binder</div>
                <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">Institut für Angewandte Informatik</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" src="{{ '/img/organizations/logo-infai.png' | relative_url }}"
                 alt="InfAI logo">
            </div>
        </a>
    </div>
</div>
