<p>
  Dagstuhl Seminar. <a href="https://www.dagstuhl.de/25391">Retrieval-Augmented Generation – The Future of Search?</a>
  Martin Potthast (co-organizer), Sebastian Heineking (participant)
</p>
<p>
  Keynote Presentation. Who writes the web? Who reads it? Who judges it? And who reports back to us? About authenticity in information retrieval. 
  Martin Potthast at 15th International Conference on Innovative Concepts and Theories in Information Retrieval (ICTIR 2025)
  in July 2025
</p>
<p>
  Poster Presentation. Learning Effective Representations for Retrieval Using Self-Distillation with Adaptive Relevance. 
  Lukas Gienapp at 15th International Conference on Innovative Concepts and Theories in Information Retrieval (ICTIR 2025)
  in July 2025
</p>
<p>
  Conference Talk. Axioms for Retrieval-Augmented Generation. 
  Jan-Heinrich Reimer at 15th International Conference on Innovative Concepts and Theories in Information Retrieval (ICTIR 2025)
  in July 2025
</p>
<p>
  Conference Talk. The Viability of Crowdsourcing for RAG Evaluation. 
  Lukas Gienapp at 48th International ACM SIGIR Conference on Research and Development in Information Retrieval
  in July 2025
</p>
<p>
  Invited talk. Retrieval Technologies for the Infinite Index. 
  Martin Potthast at the 21st Conference on Database Systems for Business, Technology and Web (BTW) 
  in Bamberg in March 2025.
</p>
<p>
  Invited talk. Self-Training for Sample-Efficient Active Learning for Text Classification with Pre-Trained Language Models. 
  Christopher Schröder at the MLT Meetings at DFKI (Online) 
  in March 2025.
</p>
