<div class="bib-entry">
      Lukas Gienapp, Martin Potthast, Harrisen Scells, and Eugene Yang. 
      <a class="paper" href="https://downloads.webis.de/publications/papers/gienapp_2025c.pdf">
            <span class="title">Topic-Specific Classifiers are Better Relevance Judges than Prompted LLMs.</span>. 
      </a>
      <span class="booktitle">CoRR, abs/2510.04633</span>, <span class="month">October</span> <span class="year">2025</span>.
      [<a href="http://arxiv.org/abs/2510.04633">arxiv</a>] 
      [<a href="https://github.com/lgienapp/ecir26-topic-adapters-as-judges">code</a>] 
      [<a href="https://doi.org/10.48550/arXiv.2510.04633">doi</a>] 
</div>
<div class="bib-entry">      
      Lukas Gienapp, Niklas Deckers, Martin Potthast, and Harrisen Scells. 
      <a class="paper" href="https://downloads.webis.de/publications/papers/gienapp_2025b.pdf">
            <span class="title">Learning Effective Representations for Retrieval Using Self-Distillation with Adaptive Relevance Margins</span>. 
      </a>
      In 
      <span class="booktitle">15th International Conference on Innovative Concepts and Theories in Information Retrieval (ICTIR 2025)</span>, 
      <span class="month">July</span> <span class="year">2025</span>.
      <span class="publisher">ACM</span>. 
      [<a href="http://arxiv.org/abs/2407.21515">arxiv</a>] 
      [<a href="https://github.com/webis-de/adaptive-relevance-margin-loss">code</a>] 
      [<a href="https://zenodo.org/records/11197962">data</a>] 
      [<a href="https://doi.org/10.1145/3731120.3744594">doi</a>] 
      [<a href="https://downloads.webis.de/publications/posters/gienapp_2025b.pdf">poster</a>]
</div>
<div class="bib-entry">
      Jan Heinrich Merker, Maik Fröbe, Benno Stein, Martin Potthast, and Matthias Hagen.
      <a class="paper" href="">
            <span class="title">Axioms for Retrieval-Augmented Generation</span>. 
      </a>
      In 
      <span class="booktitle">15th International Conference on Innovative Concepts and Theories in Information Retrieval (ICTIR 2025)</span>, 
      <span class="month">July</span> <span class="year">2025</span>. 
      <span class="publisher">ACM</span>. 
      [<a href="https://github.com/webis-de/ir_axioms">code</a>] 
      [<a href="https://doi.org/10.1145/3731120.3744601">doi</a>] 
      [<a href="https://downloads.webis.de/publications/posters/merker_2025b.pdf">poster</a>] 
      [<a href="https://downloads.webis.de/publications/slides/merker_2025b.pdf">slides</a>]
</div>
<div class="bib-entry">
      Lukas Gienapp, Tim Hagen, Maik Fröbe, Matthias Hagen, Benno Stein, Martin Potthast, and Harrisen Scells. 
      <a class="paper" href="https://downloads.webis.de/publications/papers/gienapp_2025a.pdf">
            <span class="title">The Viability of Crowdsourcing for RAG Evaluation</span>.
      </a>
      In 
      <span class="booktitle">48th International ACM SIGIR Conference on Research and Development in Information Retrieval (SIGIR 2025)</span>
      , pages <span class="pages">159 – 169</span>
      , <span class="month">July</span> 
      <span class="year">2025</span>
      . <span class="publisher">ACM</span>. 
      [<a href="https://arxiv.org/abs/2504.15689">arxiv</a>] 
      [<a href="https://temir.org/research/awards/img/sigir25-rag-crowdsourcing-award-certificate.pdf">award</a>] 
      [<a href="https://github.com/webis-de/sigir25-rag-crowdsourcing">code</a>] 
      [<a href="https://zenodo.org/records/14748980">data</a>] 
      [<a href="https://doi.org/10.1145/3726302.3730093">doi</a>] 
      [<a href="https://downloads.webis.de/publications/slides/gienapp_2025a.pdf">slides</a>]
</div>
<div class="bib-entry">
      Julia Romberg, Christopher Schröder, Julius Gonsior, Katrin Tomanek, and Fredrik Olsson.
      <a
      class="paper"
      href="https://arxiv.org/pdf/2503.09701"
      ><span class="title"
      >Have LLMs Made Active Learning Obsolete? Surveying the NLP Community</span
      ></a
      >. In
      <span class="booktitle"
      >CoRR, abs/2503.09701</span>, <span class="month">March</span> <span class="year">2025</span>.
      [<a
      class="arxiv"
      href="https://arxiv.org/abs/2503.09701"
      >arxiv</a
      >] [<a class="doi" href="https://doi.org/10.48550/arXiv.2503.09701">doi</a
      >]
</div>
