<div class="bib-entry">
      Julia Romberg, Christopher Schröder, Julius Gonsior, Katrin Tomanek, and Fredrik Olsson.
      <a
      class="paper"
      href="https://aclanthology.org/2026.eacl-long.120.pdf"
      ><span class="title"
      >Reassessing Active Learning Adoption in Contemporary NLP: A Community Survey
      </span></a
      >. In
      <span class="booktitle"
      >Proceedings of the 19th Conference of the European Chapter of the Association for Computational Linguistics</span>, 
      pages <span class="pages">2621 – 2647</span>, <span class="month">March</span> 
      <span class="year">2026</span>. <span class="publisher">Association for Computational Linguistics</span>. 
      [<a
      class="arxiv"
      href="https://arxiv.org/abs/2503.09701"
      >arxiv</a
      >] 
      [<a href="https://doi.org/10.7802/2990">data</a>] 
      [<a class="doi" href="https://doi.org/10.18653/v1/2026.eacl-long.120">doi</a
      >]
</div>
<div class="bib-entry">
      Lukas Gienapp, Martin Potthast, Andrew Yates, Harrisen Scells, and Eugene Yang. 
      <a class="paper" href="https://downloads.webis.de/publications/papers/gienapp_2026a.pdf">
            <span class="title">Topic-Specific Classifiers are Better Relevance Judges than Prompted LLMs</span>. 
      </a>
      <span class="booktitle">CoRR, abs/2510.04633</span>, <span class="month">October</span> <span class="year">2025</span>.
      [<a href="http://arxiv.org/abs/2510.04633">arxiv</a>] 
      [<a href="https://github.com/lgienapp/conf26-topic-adapters-as-judges">code</a>] 
      [<a href="https://doi.org/10.48550/arXiv.2510.04633">doi</a>] 
</div>
<div class="bib-entry">
      Jan Heinrich Merker, Simon Ruth, Harrisen Scells, and Martin Potthast. 
      <a class="paper" href="https://downloads.webis.de/publications/papers/merker_2026a.pdf">
            <span class="title">An Open SERP Mining Infrastructure for the Archive Query Log</span>. 
      </a>
      <span class="booktitle">Advances in Information Retrieval. 48th European Conference on IR Research (ECIR 2026)</span>, <span class="month">March</span> <span class="year">2026</span>.
      [<a href="https://github.com/webis-de/archive-query-log/">code</a>] 
</div>
<div class="bib-entry">
      Lukas Gienapp, Christopher Schröder, Stefan Schweter, Christopher Akiki, Ferdinand Schlatt, Arden Zimmermann, Phillipe Genêt, and Martin Potthast. 
      <a class="paper" href="https://downloads.webis.de/publications/papers/gienapp_2025d.pdf">
            <span class="title">The German Commons – 154 Billion Tokens of Openly Licensed Text for German Language Models</span>. 
      </a>
      <span class="booktitle">CoRR, abs/2510.13996</span>, <span class="month">October</span> <span class="year">2025</span>.
      [<a href="http://arxiv.org/abs/2510.13996">arxiv</a>] 
      [<a href="https://github.com/coral-nlp/llmdata">code</a>] 
      [<a href="https://huggingface.co/datasets/coral-nlp/german-commons">data</a>]
      [<a href="https://downloads.webis.de/publications/posters/gienapp_2025d.pdf">poster</a>]
      [<a href="https://doi.org/10.48550/arXiv.2510.13996">doi</a>] 
</div>
<div class="bib-entry">
      Maximilian Bley, Thomas Eckart, and Christopher Schröder. 
      <a class="paper" href="https://aclanthology.org/2025.globalnlp-1.12.pdf">
            <span class="title">Bootstrapping a Sentence-Level Corpus Quality Classifier for Web Text using Active Learning</span>. 
      </a>
      
      In 
      <span class="booktitle">Proceedings of the Workshop on Beyond English: Natural Language Processing for all Languages in an Era of Large Language Models</span>, 
      <span class="month">September</span> <span class="year">2025</span>. 
      <span class="publisher">INCOMA Ltd</span>. 
</div>
<div class="bib-entry">      
      Lukas Gienapp, Niklas Deckers, Martin Potthast, and Harrisen Scells. 
      <a class="paper" href="https://downloads.webis.de/publications/papers/gienapp_2025b.pdf">
            <span class="title">Learning Effective Representations for Retrieval Using Self-Distillation with Adaptive Relevance Margins</span>. 
      </a>
      In 
      <span class="booktitle">15th International Conference on Innovative Concepts and Theories in Information Retrieval (ICTIR 2025)</span>, 
      <span class="month">July</span> <span class="year">2025</span>.
      <span class="publisher">ACM</span>. 
      [<a href="http://arxiv.org/abs/2407.21515">arxiv</a>] 
      [<a href="https://github.com/webis-de/adaptive-relevance-margin-loss">code</a>] 
      [<a href="https://zenodo.org/records/11197962">data</a>] 
      [<a href="https://doi.org/10.1145/3731120.3744594">doi</a>] 
      [<a href="https://downloads.webis.de/publications/posters/gienapp_2025b.pdf">poster</a>]
</div>
<div class="bib-entry">
      Jan Heinrich Merker, Maik Fröbe, Benno Stein, Martin Potthast, and Matthias Hagen.
      <a class="paper" href="">
            <span class="title">Axioms for Retrieval-Augmented Generation</span>. 
      </a>
      In 
      <span class="booktitle">15th International Conference on Innovative Concepts and Theories in Information Retrieval (ICTIR 2025)</span>, 
      <span class="month">July</span> <span class="year">2025</span>. 
      <span class="publisher">ACM</span>. 
      [<a href="https://github.com/webis-de/ir_axioms">code</a>] 
      [<a href="https://doi.org/10.1145/3731120.3744601">doi</a>] 
      [<a href="https://downloads.webis.de/publications/posters/merker_2025b.pdf">poster</a>] 
      [<a href="https://downloads.webis.de/publications/slides/merker_2025b.pdf">slides</a>]
</div>
<div class="bib-entry">
      Lukas Gienapp, Tim Hagen, Maik Fröbe, Matthias Hagen, Benno Stein, Martin Potthast, and Harrisen Scells. 
      <a class="paper" href="https://downloads.webis.de/publications/papers/gienapp_2025a.pdf">
            <span class="title">The Viability of Crowdsourcing for RAG Evaluation</span>.
      </a>
      In 
      <span class="booktitle">48th International ACM SIGIR Conference on Research and Development in Information Retrieval (SIGIR 2025)</span>, 
      pages <span class="pages">159 – 169</span>, 
      <span class="month">July</span> 
      <span class="year">2025</span>. 
      <span class="publisher">ACM</span>. 
      [<a href="https://arxiv.org/abs/2504.15689">arxiv</a>] 
      [<a href="https://temir.org/research/awards/img/sigir25-rag-crowdsourcing-award-certificate.pdf">award</a>] 
      [<a href="https://github.com/webis-de/sigir25-rag-crowdsourcing">code</a>] 
      [<a href="https://zenodo.org/records/14748980">data</a>] 
      [<a href="https://doi.org/10.1145/3726302.3730093">doi</a>] 
      [<a href="https://downloads.webis.de/publications/slides/gienapp_2025a.pdf">slides</a>]
</div>

